{# @var admin \Sonata\AdminBundle\Admin\AdminInterface #}
{# @var object \App\OAuth2\Entity\Client #}

{% if admin.hasAccess('edit', object) and admin.hasRoute('edit') %}
    {% set button_content = sonata_config.getOption('list_action_button_content') %}
    <a
            href="#"
            class="btn btn-sm btn-default copy_secret_token_link"
            title="{{ 'action.copy_secret_token'|trans({}, admin.translationDomain) }}"
            data-secret-token="{{ object.secret }}"
    >
        {% if button_content == 'icon' or button_content == 'all' %}
            <i class="fa fa-clipboard-list" aria-hidden="true"></i>
        {% endif %}
        {% if button_content == 'text' or button_content == 'all' %}
            {{ 'action.copy_secret_token'|trans({}, admin.translationDomain) }}
        {% else %}
            <span class="sr-only">
                {{ 'action.copy_secret_token'|trans({}, admin.translationDomain) }}
            </span>
        {% endif %}
    </a>
{% endif %}
