{# @var admin \Sonata\AdminBundle\Admin\AdminInterface #}

{% if admin.hasAccess('regenerate', object) and admin.hasRoute('regenerate') %}
    {% set button_content = sonata_config.getOption('list_action_button_content') %}
    <a
            href="{{ admin.generateObjectUrl('regenerate', object, actions.link_parameters|default([])) }}"
            class="btn btn-sm btn-default edit_link"
            title="{{ 'action_regenerate'|trans({}, admin.translationDomain) }}"
    >
        {% if button_content == 'icon' or button_content == 'all' %}
            <i class="fas fa-history" aria-hidden="true"></i>
        {% endif %}
        {% if button_content == 'text' or button_content == 'all' %}
            {{ 'action_regenerate'|trans({}, admin.translationDomain) }}
        {% else %}
            <span class="sr-only">
                {{ 'action_regenerate'|trans({}, admin.translationDomain) }}
            </span>
        {% endif %}
    </a>
{% endif %}
