{# @var admin \Sonata\AdminBundle\Admin\AdminInterface #}
{# @var value string #}

{% extends 'admin/shared/field/base_list_field.html.twig' %}

{%- block field_value %}
    <span class="font-monospace">{{ value }}</span>
{% endblock -%}
