{# @var admin \Sonata\AdminBundle\Admin\AdminInterface #}

{% if admin.hasAccess('list', object) and admin.hasRoute('list') %}
    {% set button_content = sonata_config.getOption('list_action_button_content') %}

    <a
        href="{{ admin.generateUrl('mailer.admin.message|mailer.admin.attachment.list', { id: object.id }) }}"
        class="btn btn-sm btn-default"
        title="{{ 'action.list_attachments'|trans({}, admin.translationDomain) }}"
    >
        {% if button_content == 'icon' or button_content == 'all' %}
            <i class="fas fa-file-alt" aria-hidden="true"></i>
        {% endif %}
        {% if button_content == 'text' or button_content == 'all' %}
            {{ 'action.list_attachments'|trans({}, admin.translationDomain) }}
        {% else %}
            <span class="sr-only">
                {{ 'action.list_attachments'|trans({}, admin.translationDomain) }}
            </span>
        {% endif %}
    </a>
{% endif %}

